{{template "header"}}
<h1>Note Creation</h1>
<form method="post" action="/note/createProcess">
    <div>
        <textarea rows="10" cols="40" name="message" id="message"></textarea>
    </div>
    <input type="submit">
</form>
{{template "footer"}}