{{template "header"}}
<h1>Create new members</h1>
<form method="post" action="/members/new/process">
    password <input type="text" name="password">
    <input type="submit">
</form>
<br/>
    {{if not .}}
    
    {{else}}
    <h2>New Member Created</h2>
    {{end}}
{{template "footer"}}