{{define "header"}}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="page.css" >
    </head>
    <body>
    <p>
    <a href="/">Login</a>
    <a href="/logout">Logout</a>
    <a href="/members">Members</a>
    <a href="/members/new">Create New Member</a>
    </p>
    <p>
    <a href="/note/new">Create new note</a>
    <a href="/note/list">View all notes</a>
    </p>
{{end}}