{{template "header"}}
<h1>Login page</h1>
<form method="post" action="/login">
    username <br/>
    <input type="text" name="username"><br/>
    password <br/>
    <input type="text" name="password"><br/>
    <input type="submit">
</form>
    <h2>{{.}}</h2>
{{template "footer"}}