{{template "header"}}
<h1>This is members</h1>
{{range .}}
<p>{{.ID}} - {{.Username}} {{.Password}}- <a href="/members/update?id={{.ID}}">update</a>- <a href="/members/delete?id={{.ID}}">delete</a></p>
{{end}}
{{template "footer"}}