{{template "header"}}
<h1>Note Creation</h1>
<form method="post" action="/note/new/process">
    <div>
        <textarea rows="10" cols="40" id="messageID" class="note processed" name="message" maxlength="2500" ></textarea>
    </div>
    <input type="submit">
</form>
{{template "footer"}}