{{template "header"}}
<h1>This is notes</h1>
{{range .}}
<p>{{.ID}} - {{.Note}}- <a href="/note/update?id={{.ID}}">update</a>- <a href="/note/delete?id={{.ID}}">delete</a></p>
{{end}}
{{template "footer"}}